extends layout

block content

  h1(class="text-center font-bold text-2xl mb-2 mt-10") #{manufacturer ? 'Edit Manufacturer' : 'Add Manufacturer'}

  form(method='POST' action='')
    div(class='flex justify-between flex-col px-6 pb-20')
      label(class='mt-2' for='title') Title 
      input(class="appearance-none border-2 border-gray-200 w-full p-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
      type='text' placeholder="Name of manufacturer" name='title' 
      value=(manufacturer ? manufacturer.title : '') required='true' )

      label(class='mt-2' for="description") Description 
      textarea(class="appearance-none border-2 border-gray-200 w-full mb-5 p-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
      name="description", cols="30", rows="10" placeholder="Short description about the manufacturer" 
      required='true') #{manufacturer ? manufacturer.description : ''}

      if manufacturer 
        label(for="password") Enter secret password to edit this manufacturer: 
        input(class="mt-1 appearance-none border-2 border-gray-200 w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
        type="password" name="password" required='true' placeholder="Password") 

      div(class="flex justify-center items-center")
        button(class="w-full flex items-center justify-center text-gray-500 mt-2 border-2 px-2 py-1 hover:border-gray-600"
        type="submit") #{manufacturer ? 'Edit' : 'Add'}
          span(class="material-icons ml-1" aria-hidden="true") done
