extends layout

block content

  h1 Manufacturer: #{manufacturer.title}

  p #{manufacturer.description}

  ul Synths made by #{manufacturer.title}: 
    each synth in synths 
      li 
        a(href=synth.url)  #{synth.name}

  a(href=manufacturer.url+'/edit') Edit
  br
  a(href=manufacturer.url+'/delete') Delete