extends layout

block content
  h1 #{synth ? 'Edit Synth' : 'Add Synth'}

  form(method='POST' action='')
    div(class='flex justify-center flex-col')
      label(for="name") Name  
      input(type='text' placeholder="Name of synth" name='name' 
      value=(synth ? synth.name : '') required='true' )

      label(for="in_stock") In Stock 
      input(type='number' placeholder="Stock amount" name='in_stock' 
      value=(synth ? synth.in_stock : '') required='true' )

      label(for="price") Price
      input(type='number' placeholder="Price" name='price' 
      value=(synth ? synth.price : '') required='true' )

      label(for="release_date") Release Date 
      input(type='date' placeholder="" name='release_date' 
      value=(synth ? synth.release_date.getFullYear()+'-01-01' : '') required='true' )

      label(for="img_url") Image URL
      input(type='url' name='img_url')
     
      label(for="category") Polyphony 
      select(name='category')
        each poly in categories
          option(value=poly._id name='category') #{poly.title}
      
      div
        label(for='manufacturer') Manufacturer 
        if synth 
          each company in synth.manufacturer
            select(name='manufacturer')
              each manufacturer in manufacturers
                if company.title===manufacturer.title
                  option(selected value=manufacturer._id) #{manufacturer.title}
                else 
                  option(value=manufacturer._id) #{manufacturer.title}
        else 
            select(name='manufacturer')
              each company in manufacturers 
                option(value=company._id) #{company.title} 

      label(for="description") Description 
      textarea(name="description", cols="30", rows="10" placeholder="Description of the synth" required='true') #{synth ? synth.description : ''}

      button(type="submit") #{synth ? 'Edit' : 'Add'}
